/* ---------- Color Module Styles ----------- */
:root {
  --bs-body-color:#1c1c1c !important;
  --bs-link-color: #8093b7 !important;
  --bs-primary: #8093b7 !important;
  --bs-secondary: #d8dee3 !important;
  --bs-tertiary: #ebedef !important;
}


.archipelago-subtheme #drupal-off-canvas-wrapper {
  --off-canvas-background-color-light: #f7f7f7;
  --off-canvas-background-color-medium: #f4f6ff;
  --off-canvas-background-color-dark: #4b68aa;
  --off-canvas-background-color: white;
  --off-canvas-text-color: var(--bs-body-color);
  --off-canvas-link-color: var(--bs-link-color);
  --off-canvas-border-color: #191919;
  --off-canvas-font-family: inherit;
  --off-canvas-focus-outline-color: #f9f9fa;
  color: var(--off-canvas-text-color);
  background-color: var(--off-canvas-background-color);
}

.archipelago-subtheme #drupal-off-canvas-wrapper .ui-dialog-titlebar {
  --off-canvas-title-background-color: var(--off-canvas-background-color-dark);
  --off-canvas-title-color: var(--off-canvas-background-color-light);
}

.archipelago-subtheme #drupal-off-canvas-wrapper details {
  --off-canvas-details-border-color: none;
  --off-canvas-details-background-color: var(--off-canvas-background-color-medium);
  --off-canvas-details-text-color: var(--off-canvas-background-color-dark);
  --off-canvas-details-summary-border: none;
  --off-canvas-details-summary-background-color: #f4f6ff;
  --off-canvas-details-summary-background-color-hover: #ebedef;
  --off-canvas-details-summary-text-color: #283d77;
  --off-canvas-details-summary-text-color-hover: #000000;
}

body {
    color: #1c1c1c;
    background: #d8dbe2;
}
/* ---------- IAbookreader ----------- */
.BRtoolbar {
    color: #1c1c1c;
    background: #d8dbe2 !important;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #f9f9fa;
}


.tabs ul.primary li a.is-active {
    background-color: #f9f9fa;
}

.tabs ul.primary li.is-active a {
    background-color: #f9f9fa;
    border-bottom-color: #f9f9fa;
}
#main-wrapper table thead.thead-dark tr th {
    background: #8093b7;
    color: #f7f7f7;
    border-bottom-style: none;
}

#navbar-top {
    background-color: #d8dee3;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

#navbar-main {
    background-color: #ebedef;
}


.views-exposed-form form[action="/search"] div[data-drupal-selector="edit-actions"] > button[value="Search"] {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #8093b7;
    border-color: #8093b7;
    color: #f7f7f7;
}

#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
    border: solid 1px #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.site-name-slogan .navbar-brand-slogan {
    color: #f9f9fa;
}

#navbar-main .nav-link {
    color: #000000;
}
nav.navbar li.nav-item {
    border-left-width: 3px;
    border-left-color: #8093b7;
    border-left-style: solid;
}

main.main-content div.content {
    background-color: #ffffff;
    border-radius: 6px;
}

.btn-warning {
    background-color: #8093b7;
    border-color: #8093b7;
}

.btn-warning:hover {
    background-color: #8093b7;
    border-color: #8093b7;
}
#page nav > ul > li.active.nav-item > a {
    background-color: #8093b7 !important;
    border-color: #8093b7 !important;
}

/* Webform progress tracker */
.webform-progress-tracker .progress-title[role="link"] {
    color: #000000
}

.webform-progress-tracker .progress-title[role="link"]:hover,
.webform-progress-tracker .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #000000;
    text-decoration-color:#000000;
}

#page div > div.carousel-item > div > h3 {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

#page div > div.carousel-item.active > div > h3 {
    background-color: var(--bs-link-color);
}

.navbar-toggler {
    border: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.nav-link:hover, .nav-link:focus {
    color: #f9f9fa;
}
.nav-tabs .nav-link:hover, .nav-link:focus {
    color: #000000;
    background-color:#8a9ac7 !important;
}


#page .nav-pills .nav-link.active, .nav-pills .show>.nav-link, .badge-primary {
    color: #f9f9fa !important;
    background-color: var(--bs-link-color);
}

.badge-primary > a.nav-link {
  color: #f9f9fa !important;
}


.link {
    color: #000000 !important;
}
a:not(.toolbar-item) {
    color: #000000 !important;
}


a:not(.toolbar-item):hover,
a:not(.toolbar-item):focus,
.link:hover,
.link:focus {
    color: #000000 !important;
    decoration:none;
}

a:not(.toolbar-item):active,
.link:active {
    color: #000000 !important;
    text-decoration-color: #8093b7;
}


.page-item.active .page-link {
    background-color: #283d77;
    border-color: #283d77;
}

.page-link,
.page-link:hover {
    color: #283d77 !important;
}

dt {
    border-left-width: 3px;
    border-color: #8093b7;
    border-left-style: solid;
    padding-left: 0.5em;
}



.sidebar .block {
    background-color: #ffffff;
    border-color: #f4f6ff;
    border-radius: 6px;
}

#page details summary, .ui-dialog details summary {
    color: #283d77;
    background-color: #f4f6ff;
    margin-block-end: 0.5em;
    padding: 12px;
    border-radius: 6px;
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: none;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #f9f9fa;
    font-size: 1.2em;
    line-height: 1.2;
}

.btn-primary {
    background-color: #8093b7 !important;
    border-color: #8093b7 !important;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    border-color: #8093b7;
    color: #8093b7 !important;
}

.btn {
  border-color: #8093b7;
}
.btn:hover {
  border-color: #8093b7;
  background-color: #ebedef;
}

.btn-outline-primary {
    border-color: #8093b7 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#8a9ac7 !important;
    border-color: #8a9ac7 !important;
}


.form-check-input:checked {
  background-color: #8a9ac7 !important;
  border-color: #8a9ac7 !important;
}

.site-footer {
    background: #1e1f24;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

/* Node edit buttons */
#edit-submit {
    background-color: #4b68aa;
}

input.form-control.button {
    background-color: #4b68aa;
    color: #f7f7f7;
}

input.form-control.button:hover, input.form-control.button:focus {
    background-color:#8a9ac7 !important;
}

#edit-preview {
    background-color: #4b68aa;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #8093b7
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}

/* IABook Reader Color and Shape Overrides */

.BookReader .BookReaderSearchHilite, .BRmobileMenu .BookReaderSearchHilite, .BRfloat .BookReaderSearchHilite {
    opacity: 0.7;
    outline: 3px solid #8093b7;
    outline-offset: 1em;
    filter: alpha(opacity=70);
    background-color: #8093b7;
    animation: hiliteFadeIn 0.5s;
}

/* Facet Summaries */
:root .facet-summary-item--facet.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

:root .facet-summary-item--clear.btn-secondary {
  color: #f9f9fa !important;
  background-color: var(--bs-tertiary);
  border-color: var(--bs-tertiary);
}

:root .facet-summary-item--query.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

:root .facet-summary-item--query.btn-primary > a {
  color: #f9f9fa !important;
}

