/* ---------- Color Module Styles ----------- */
:root {
  --bs-body-color:#5b6162 !important;
  --bs-link-color: #6cb298 !important
}
body {
    color: #5b6162;
    background: #c3d5d1;
}
/* ---------- IAbookreader ----------- */
.BRtoolbar {
    color: #5b6162;
    background: #c3d5d1 !important;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #ffffff;
}




.tabs ul.primary li a.is-active {
    background-color: #ffffff;
}

.tabs ul.primary li.is-active a {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}
#main-wrapper table thead.thead-dark tr th {
    background: #6cb298;
    color: #ffffff;
    border-bottom-style: none;
}

#navbar-top {
    background-color: #b4b7c1;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

#navbar-main {
    background-color: #c3d5d1;
}


.views-exposed-form form[action="/search"] div[data-drupal-selector="edit-actions"] > button[value="Search"] {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #6cb298;
    border-color: #6cb298;
    color: #ffffff;
}

#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
    border: solid 1px #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.site-name-slogan .navbar-brand-slogan {
    color: #ffffff;
}

#navbar-main .nav-link {
    color: #000000;
}
nav.navbar li.nav-item {
    border-left-width: 3px;
    border-left-color: #6cb298;
    border-left-style: solid;
}

main.main-content div.content {
    background-color: #ffffff;
    border-radius: 6px;
}

.btn-warning {
    background-color: #6cb298;
    border-color: #6cb298;
}

.btn-warning:hover {
    background-color: #6cb298;
    border-color: #6cb298;
}
nav > ul > li.active.nav-item > a {
    background-color: #6cb298 !important;
    border-color: #6cb298 !important;
}

/* Webform progress tracker */
.webform-progress-tracker .progress-title[role="link"] {
    color: #000000
}

.webform-progress-tracker .progress-title[role="link"]:hover,
.webform-progress-tracker .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #000000;
    text-decoration-color:#000000;
}

div > div.carousel-item.active > div > h3 {
    background-color: #ffffff;
}

.navbar-toggler {
    border: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.nav-link:hover, .nav-link:focus {
    color: #ffffff;
}
.nav-tabs .nav-link:hover, .nav-link:focus {
    color: #000000;
    background-color:#f3969a !important;
}

.link {
    color: #000000 !important;
}
a:not(.toolbar-item) {
    color: #000000 !important;
}


a:not(.toolbar-item):hover,
a:not(.toolbar-item):focus,
.link:hover,
.link:focus {
    color: #000000 !important;
    decoration:none;
}

a:not(.toolbar-item):active,
.link:active {
    color: #000000 !important;
    text-decoration-color: #6cb298;
}


.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

.page-link,
.page-link:hover {
    color: #000000 !important;
}

dt {
    border-left-width: 3px;
    border-color: #6cb298;
    border-left-style: solid;
    padding-left: 0.5em;
}



.sidebar .block {
    background-color: #ffffff;
    border-color: #ebebeb;
    border-radius: 6px;
}

#page details summary, .ui-dialog details summary {
    color: #000000;
    background-color: #ebebeb;
    margin-block-end: 0.5em;
    padding: 12px;
    border-radius: 6px;
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: none;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 1.2em;
    line-height: 1.2;
}

.btn-primary {
    background-color: #6cb298 !important;
    border-color: #6cb298 !important;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    border-color: #6cb298;
    color: #6cb298 !important;
}

.btn-outline-primary {
    border-color: #6cb298 !important;
}


.btn-primary:hover,
.btn-primary:focus {
    background-color:#f3969a !important;
    border-color: #f3969a !important;
}


.form-check-input:checked {
  background-color: #f3969a !important;
  border-color: #f3969a !important;
}

.site-footer {
    background: #23282f;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

/* Node edit buttons */
#edit-submit {
    background-color: #6cb298;
}

input.form-control.button {
    background-color: #6cb298;
    color: #ffffff;
}

input.form-control.button:hover, input.form-control.button:focus {
    background-color:#f3969a !important;
}

#edit-preview {
    background-color: #6cb298;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #6cb298
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #46408c;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}

/* IABook Reader Color and Shape Overrides */

.BookReader .BookReaderSearchHilite, .BRmobileMenu .BookReaderSearchHilite, .BRfloat .BookReaderSearchHilite {
    opacity: 0.7;
    outline: 3px solid #6cb298;
    outline-offset: 1em;
    filter: alpha(opacity=70);
    background-color: #6cb298;
    animation: hiliteFadeIn 0.5s;
}
