/* ---------- Color Module Styles ----------- */
:root {
  --bs-body-color:#1c1c1c !important;
  --bs-link-color: #fe2076 !important;
  --bs-primary: #fe2076 !important;
  --bs-secondary: #fdfdf7 !important;
  --bs-tertiary: #f3a6c8 !important;
}

.archipelago-subtheme .page-item.active .page-link {
	z-index: 3;
	color: #fefefb;
	background-color: var(--bs-link-color);
	border-color: var(--bs-secondary);
}

.archipelago-subtheme #drupal-off-canvas-wrapper {
  --off-canvas-background-color-light: #f7f7f7;
  --off-canvas-background-color-medium: #c3a2fc;
  --off-canvas-background-color-dark: #fe2076;
  --off-canvas-background-color: white;
  --off-canvas-text-color: var(--bs-body-color);
  --off-canvas-link-color: var(--bs-link-color);
  --off-canvas-border-color: #191919;
  --off-canvas-font-family: inherit;
  --off-canvas-focus-outline-color: #fefefb;
  color: var(--off-canvas-text-color);
  background-color: var(--off-canvas-background-color);
}

.archipelago-subtheme #drupal-off-canvas-wrapper .ui-dialog-titlebar {
  --off-canvas-title-background-color: var(--off-canvas-background-color-dark);
  --off-canvas-title-color: var(--off-canvas-background-color-light);
}

.archipelago-subtheme #drupal-off-canvas-wrapper details {
  --off-canvas-details-border-color: none;
  --off-canvas-details-background-color: var(--off-canvas-background-color-medium);
  --off-canvas-details-text-color: var(--off-canvas-background-color-dark);
  --off-canvas-details-summary-border: none;
  --off-canvas-details-summary-background-color: #c3a2fc;
  --off-canvas-details-summary-background-color-hover: #f3a6c8;
  --off-canvas-details-summary-text-color: #fe2076;
  --off-canvas-details-summary-text-color-hover: #000000;
}

body {
    color: #1c1c1c;
    background: #fe2076;
}
/* ---------- IAbookreader ----------- */
.BRtoolbar {
    color: #1c1c1c;
    background: #fe2076 !important;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #fefefb;
}


.tabs ul.primary li a.is-active {
    background-color: #fefefb;
}

.tabs ul.primary li.is-active a {
    background-color: #fefefb;
    border-bottom-color: #fefefb;
}
#main-wrapper table thead.thead-dark tr th {
    background: #c3a2fc;
    color: #f7f7f7;
    border-bottom-style: none;
}

#navbar-top {
    background-color: #fdfdf7;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

#navbar-main {
    background-color: #f3a6c8;
}


.views-exposed-form form[action="/search"] div[data-drupal-selector="edit-actions"] > button[value="Search"] {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #c3a2fc;
    border-color: #c3a2fc;
    color: #f7f7f7;
}

#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
    border: solid 1px #000000;
}

#page .navbar-dark .navbar-nav .nav-link {
    color: #000000;
}
/* Use base color here */
.nav-item .nav-link {
    color: #000000;
}

.site-name-slogan .navbar-brand-slogan {
    color: #1c1c1c;
}

#page #navbar-main .nav-link {
    color: #000000;
}
nav.navbar li.nav-item {
    border-left-width: 3px;
    border-left-color: #fe2076;
    border-left-style: solid;
}

main.main-content div.content {
    background-color: #ffffff;
    border-radius: 6px;
}

.btn-warning {
    background-color: #c3a2fc;
    border-color: #c3a2fc;
}

.btn-warning:hover {
    background-color: #fe2076;
    border-color: #fe2076;
}
#page nav > ul > li.active.nav-item > a {
    background-color: #fe2076 !important;
    border-color: #fe2076 !important;
}

/* Webform progress tracker */
.webform-progress-tracker .progress-title[role="link"] {
    color: #fe2076
}

.webform-progress-tracker .progress-title[role="link"]:hover,
.webform-progress-tracker .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #fe2076;
    text-decoration-color:#fe2076;
}

#page div > div.carousel-item > div > h3 {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

#page div > div.carousel-item.active > div > h3 {
    background-color: var(--bs-link-color);
}

.navbar-toggler {
    border: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}

#navbar-main .nav-link:hover, #navbar-main .nav-link:focus {
    color: #fefefb;
}
.nav-tabs .nav-link:hover, .nav-link:focus {
    color: #fe2076;
    background-color:#fe2076 !important;
}


#page .nav-pills .nav-link.active, .nav-pills .show>.nav-link, .badge-primary {
    color: #fefefb !important;
    background-color: var(--bs-link-color);
}

.badge-primary > a.nav-link {
  color: #fefefb !important;
}


.link {
    color: #fe2076;
}
a:not(.toolbar-item, .btn, .nav-link) {
    color: #fe2076;
}


a:not(.toolbar-item, .btn, .nav-link):hover,
a:not(.toolbar-item, .btn, .nav-link):focus,
.link:hover,
.link:focus {
    color: #fe2076;
    decoration:none;
}

a:not(.toolbar-item, .btn, .nav-link):active,
.link:active {
    color: #fe2076;
    text-decoration-color: #fe2076;
}

.page-link,
.page-link:hover {
    color: #fe2076;
}

dt {
    border-left-width: 3px;
    border-color: #fe2076;
    border-left-style: solid;
    padding-left: 0.5em;
}



.sidebar .block {
    background-color: #ffffff;
    border-color: #c3a2fc;
    border-radius: 6px;
}

#page details summary, .ui-dialog details summary {
    color: #fe2076;
    background-color: #c3a2fc;
    margin-block-end: 0.5em;
    padding: 12px;
    border-radius: 6px;
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: none;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fefefb;
    font-size: 1.2em;
    line-height: 1.2;
}

.archipelago-subtheme .btn-primary {
    background-color: #fe2076 !important;
    border-color: #fe2076 !important;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    border-color: #fe2076;
    color: #fe2076 !important;
}

.archipelago-subtheme .btn {
  border-color: #fe2076;
}
.archipelago-subtheme .btn:hover {
  border-color: #fe2076;
  background-color: #f3a6c8;
}

.btn-outline-primary {
    border-color: #fe2076 !important;
}

.archipelago-subtheme .btn-primary:hover,
.archipelago-subtheme .btn-primary:focus {
    background-color:#fe2076 !important;
    border-color: #fe2076 !important;
}


.form-check-input:checked {
  background-color: #fe2076 !important;
  border-color: #fe2076 !important;
}

.archipelago-subtheme .site-footer {
    background: #61d39d;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

/* Node edit buttons */
#edit-submit {
    background-color: #fe2076;
}

input.form-control.button {
    background-color: #fe2076;
    color: #f7f7f7;
}

input.form-control.button:hover, input.form-control.button:focus {
    background-color:#fe2076 !important;
}

#edit-preview {
    background-color: #fe2076;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fe2076
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #1c1c1c;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}

/* IABook Reader Color and Shape Overrides */

.BookReader .BookReaderSearchHilite, .BRmobileMenu .BookReaderSearchHilite, .BRfloat .BookReaderSearchHilite {
    opacity: 0.7;
    outline: 3px solid #c3a2fc;
    outline-offset: 1em;
    filter: alpha(opacity=70);
    background-color: #c3a2fc;
    animation: hiliteFadeIn 0.5s;
}

/* Facet Summaries */
:root .facet-summary-item--facet.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

:root .facet-summary-item--clear.btn-secondary {
  color: #fefefb !important;
  background-color: var(--bs-tertiary);
  border-color: var(--bs-tertiary);
}

:root .facet-summary-item--query.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

:root .facet-summary-item--query.btn-primary > a {
  color: #fefefb !important;
}

