{# This Template generates an Item inside a Bootstrap Carousel

Structures passed from Archipelago are
- node
  The full Node entity
- data
  The Full JSON Structure converted in an Array
- iiif_server
  The publicly available IIIF Server (Global Setting)
  
#}
{% set Webserverurl =  url('<front>')|render|replace({':8001/':''}) ~ ':8183/iiif/2/' %}
{% set IIIFserverurl = iiif_server ? iiif_server ~ '/': Webserverurl %}
{% set currenturl = '<current>' %}
{% if node.id %}
{% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
{% else %}
{% set nodeurl = currenturl %}
{% endif %}
{% set len = language.getId() ? language.getId() : "en" %}
{% for image in attribute(data, 'as:image')|slice(0,1) %}
 {% if image["flv:exif"] %}
   {% set height = image["flv:exif"].ImageHeight%}
 {% else  %}
   {% set width = 1200 %}
 {% endif %}
   {% set imageurl =  IIIFserverurl ~ image['url']|replace({'s3://':''})|replace({'private://':''})|url_encode %}
<a href="{{ nodeurl }}" title="{{ data.label }}" alt="{{ data.label }}">
<img src="{{ imageurl }}/pct:5,5,90,30/,400/0/default.jpg" class="d-block.w-auto" alt="{{ image.name }}" height="400px" style="min-width:1200px">
</a> 
{% endfor %}