{#-
Updated for 1.6.0. Adds VTTs to Audio too.
Previously Updated for 1.5.0. Mostly styling and format
Previously Updated 17/06/2024 for 1.4.0.
  - Adds Annotations for VTTs (Videos) and Images with Plain Text
Previusly Updated 30/11/2023 for 1.3.0. Fixes wrong Video URLs, lack of initial values for itemCount
which fails when a child has multiple files too.
  - Fixes mirador_path to handle both standard and self-closing polygon tags. 
  - Fixes wrong Video URLs, lack of initial values for itemCount
which fails when a child has multiple files too.

This Template generates IIIF 3.0 Canvas only Partial API Manifest from a Strawberry Field 
JSON to be used by a Drupal Views (REST) to generate a simpler to parse/join listing of Canvases 
For a Creative Works Series Manifest 
NOTE: if you modify this make sure you also open/save the parent "IIIF Presentation API 3 Creative Works Series Manifest" 
Metadatadisplay. Why? because Templates are cached/render arrays too, so the other one will not know this happened. 
- Includes Annotations for Images 
- Includes Thumbnail for Videos 
Structures passed from Archipelago are 
- node 
  The full Node entity 
- data 
  The Full JSON Structure converted in an Array 
- iiif_server 
  The publicly available IIIF Server (Global Setting) 
Since JSON was decoded into the 'data' values are valid PHP but could not 
be valid JSON when outputting. So We use data.description|json_encode|raw 
Without Double quotes. 
-#} 
{# with 150 being Cantaloupe's setup PDF rastering resolution and 72 what PDFINFO produces by default #} 
{%- set pdf_resolution = (150/72) -%}
{% set computed_rights = "http://rightsstatements.org/vocab/InC-EDU/1.0/" %} 
{% if data.rights|length > 0 or data.rights_statements|length > 0 %} 
	{% if data.rights|length > 0 %} 
		{% set computed_rights = data.rights %} 
	{% endif %} 
{% elseif data.rights_statements|length > 0 %} 
	{% if data.rights_statements in ['In Copyright'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['In Copyright - EU Orphan Work'] %} 
    	{% set computed_rights = "http://rightsstatements.org/vocab/InC-OW-EU/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['In Copyright - Educational Use Permitted'] %} 
	   	{% set computed_rights = "http://rightsstatements.org/vocab/InC-EDU/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['In Copyright - Non-Commercial Use Permitted'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC-NC/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['In Copyright - Rights-holder(s) Unlocatable or Unidentifiable'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC-RUU/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['No Copyright - Contractual Restrictions'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-CR/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['No Copyright - Non-Commercial Use Only'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-NC/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['No Copyright - Other Known Legal Restrictions'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-OKLR/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['No Copyright - United States'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-US/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['Copyright Not Evaluated'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/CNE/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['Copyright Undetermined'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/UND/1.0/" %} 
	{% endif %} 
	{% if data.rights_statements in ['No Known Copyright'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NKC/1.0/" %} 
	{% endif %} 
{% endif %} 
{# Mirador 3 has this weird CSS thing that puts the max of thumb to that size #} 
{% set max_thumb_width = 240 %} 
{%- set GenericIIIFserverurl =  url('<front>')|render|replace({':8001/':''}) ~ ':8183/iiif/2/' %}
{%- set Webserverurl =  url('<front>')|render -%} 
{% set IIIFserverurl = iiif_server ? iiif_server ~ '/': GenericIIIFserverurl %}
{% set currenturl = url('<current>')|render %}
{% if node.id %}
   {% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %} 
{% else %}
  {% set nodeurl = currenturl %} 
{% endif%}
{% set len = language.getId() ? language.getId() : "en" %} 
{% set metadata %}
"metadata": [
{% for agent in attribute(data, 'edm_agent') %} 
    { 
      "label": { 
        "{{ len }}": [ 
          {{ agent.role_label|json_encode|raw }} 
        ] 
      }, 
      "value": { 
        "{{ len }}": [ 
          {{ agent.name_label|json_encode|raw }} 
        ] 
      } 
    }, 
{% endfor %} 
{
"label": {
"{{ len }}": [
"description"
]
},
"value": { 
"{{ len }}": [ 
{{ data.description|json_encode|raw }}
]
}
}, 
{ 
"label": {
"{{ len }}": [
"navDate"
]
},
"value":  {
"{{ len }}": [
"{{ node.getChangedTime|date("F jS \a\t g:ia") }}"
]
}
},
{
"label": {
"{{ len }}": [
"license"
]
},
"value": {
"{{ len }}": [
{{ computed_rights|json_encode|raw }}
]
}
}
],
{% endset %}
{
"items": [
{%- set document_count = attribute(data, 'as:document')|length -%}
{%- set TotalpageCount = 0 -%}
{%- set itemCount = 0 -%}
{%- for document in attribute(data, 'as:document')%} 
{#- WIZARDLY UPDATED BY ARCHIPELAGO -#} 
{%  if document['flv:exif'].PageCount -%} 
{%- set TotalpageCount = (TotalpageCount + document['flv:exif'].PageCount) -%}
{#- WIZARDLY UPDATED BY ARCHIPELAGO -#} 
{% endif %}
{%- endfor -%}
{% for document in attribute(data, 'as:document') %}
{%  if document['flv:exif'].PageCount %}
   {%- set pageCount =  document['flv:exif'].PageCount -%}
   {%- set cantaloupeid  = IIIFserverurl ~ document['url']|replace({'s3://':''})|replace({'private://':''})|url_encode -%}
   {%-  for pagenumber in 1..pageCount -%}
   {
      {%- set itemCount = itemCount + 1 -%}
      {%- if attribute(document["flv:pdfinfo"], pagenumber) -%} 
        {% set width = attribute(document["flv:pdfinfo"], pagenumber).width ? (attribute(document["flv:pdfinfo"], pagenumber).width * pdf_resolution)|round : 600 %} 
        {% set height = attribute(document["flv:pdfinfo"], pagenumber).height ? (attribute(document["flv:pdfinfo"], pagenumber).height * pdf_resolution)|round : 450 %} 
      {%- else  -%} 
        {%- if attribute(document["flv:identify"], pagenumber) -%} 
          {% set width = attribute(document["flv:identify"], pagenumber).width ? (attribute(document["flv:identify"], pagenumber).width * pdf_resolution)|round : 600 %} 
          {% set height = attribute(document["flv:identify"], pagenumber).height ? (attribute(document["flv:identify"], pagenumber).height * pdf_resolution)|round : 450 %} 
        {%- else  -%} 
           {%- set width = 600 -%}
           {%- set height = 450 -%}
        {%- endif -%} 
      {%- endif -%} 
      {% set thumb_width = width < max_thumb_width ? width: max_thumb_width %} 
      {% set thumb_height = (thumb_width/width * height)|round() %} 
      {%- set thumbnail -%} 
  "thumbnail": [{ 
  "id": "{{ cantaloupeid }}/full/{{thumb_width}},/0/default.jpg?page={{ pagenumber }}", 
  "type": "Image", 
  "format": "image/jpeg", 
  "width": {{ thumb_width }}, 
  "height": {{ thumb_height }} 
}], 
  {%- endset -%} 
      "id": "{{ nodeurl }}/iiif/{{ document['dr:uuid'] }}/canvas/p{{ pagenumber }}", 
      "type": "Canvas", 
      "label": { "{{ len }}": [ 
      {%- if (pageCount > 1) -%} 
      {{ (loop.index ~ ' of ' ~ pageCount ~ ' pages: ' ~ data.label)|json_encode|raw }} 
      {% else %} 
       {{ data.label|json_encode|raw }} 
      {%- endif -%} 
      ]}, 
      {{ thumbnail }} 
      "height": {{ height }}, 
      "width": {{ width }}, 
      "items": [
        {
          "id": "{{ nodeurl }}/iiif/{{ document['dr:uuid'] }}/page/p{{ pagenumber}}", 
          "type": "AnnotationPage", 
          "items": [ 
            { 
              "id": "{{ nodeurl }}/iiif/{{ document['dr:uuid'] }}/annotation/p{{ pagenumber }}", 
              "type": "Annotation", 
              "motivation": "painting", 
              {{ thumbnail }} 
              "body": { 
                "id": "{{ cantaloupeid ~ ';' ~  pagenumber }}/full/full/0/default.jpg", 
                "type": "Image", 
                "format": "image/jpeg", 
                "height": {{ height }}, 
                "width": {{ width }} 
              }, 
              "target": "{{ nodeurl }}/iiif/{{ document['dr:uuid'] }}/canvas/p{{ pagenumber }}" 
            } 
          ]
        }
      ]
      {#- Leaving W3C annotations out until we have a way of referencing each one via our own Metadata Endpoint which will require and extra argument for the page 
      {{ nodeurl }}/iiif/comments/p{{ cantaloupeid }}/1 
      ,
      "annotations": [
        { 
          "id": "{{ nodeurl }}/iiif/comments/p{{ loop.index }}/1", 
          "type": "AnnotationPage" 
        }
] -#}
    }{{ itemCount < TotalpageCount ? ',' : '' }} 
    {% endfor %}
  {% endif %}
{% endfor %}
{#- ImagesManifest -#}
{#- Count Images upfront -#}
{%- if (attribute(data, 'as:image')|length > 0) -%} 
  {%- if itemCount > 0 -%}
, 
  {%- endif -%}
{%- endif -%}
{%- for page in attribute(data, 'as:image') -%} 
   { 
   {%- set itemCount = itemCount + 1 %} 
   {%- set cantaloupeid  = IIIFserverurl ~ page['url']|replace({'s3://':''})|replace({'private://':''})|url_encode -%} 
   {%- if page["flv:exif"] -%} 
      {%- set width = page["flv:exif"].ImageWidth -%} 
   {%- else  -%} 
      {%- set width = 1200 -%} 
  {%- endif -%} 
  {%- if page["flv:exif"] -%} 
      {%- set height = page["flv:exif"].ImageHeight -%} 
  {%- else  -%} 
      {%- set height = 1600 -%} 
  {%- endif -%} 
  {%- set thumb_width = width < max_thumb_width ? width: max_thumb_width -%} 
  {%- set thumb_height = (thumb_width/width * height)|round() -%} 
{%- set thumbnail -%} 
"thumbnail": [ 
        { 
          "id": "{{ cantaloupeid }}/full/{{thumb_width}},/0/default.jpg", 
          "type": "Image", 
          "format": "image/jpeg", 
          "width": {{ thumb_width }}, 
          "height": {{ thumb_height }} 
        } 
      ], 
{%- endset -%} 
      "id": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}", 
      "type": "Canvas", 
      "label": { "{{ len }}": [ 
      {%- if (image_count > 1) -%} 
        {{ (loop.index ~ ' of ' ~ image_count ~ ' images: ' ~ data.label)|json_encode|raw }} 
      {% else %} 
        {{ data.label|json_encode|raw }} 
      {%- endif -%} 
      ]},
      {{ thumbnail }} 
      "height": {{ height }}, 
      "width": {{ width }}, 
      "items": [ 
        {
          "id": "{{ nodeurl }}/iiif/page/p{{ itemCount}}", 
          "type": "AnnotationPage", 
          "items": [ 
            { 
              "id": "{{ nodeurl }}/iiif/annotation/p{{ itemCount }}", 
              "type": "Annotation", 
              "motivation": "painting", 
              {{ thumbnail }} 
              "body": { 
                "id": "{{ cantaloupeid }}/full/full/0/default.jpg", 
                "type": "Image", 
                "format": "image/jpeg", 
                "service": [ 
                  { 
                    "id": "{{ cantaloupeid }}", 
                    "type": "ImageService2", 
                    "profile": "level2" 
                  } 
                ], 
                "height": {{ height }}, 
                "width": {{  width }} 
              }, 
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}" 
            } 
          ] 
        } 
      ]
 {#- Annotations for this canvas 
 "annotations": [ 
        { 
          "id": "https://iiif.io/api/cookbook/recipe/0021-tagging/page/p2/1", 
          "type": "AnnotationPage", 
          "items": [ 
            { 
              "id": "https://iiif.io/api/cookbook/recipe/0021-tagging/annotation/p0002-tag", 
              "type": "Annotation", 
              "motivation": "tagging", 
              "body": { 
                "type": "TextualBody", 
                "value": "Gänseliesel-Brunnen", 
                "language": "de", 
                "format": "text/plain" 
              }, 
              "target": "https://iiif.io/api/cookbook/recipe/0021-tagging/canvas/p1#xywh=265,661,1260,1239" 
            } 
          ] 
        } 
      ] 
 -#}
{#- starts Pure Text annotation and direct Image annotations-#}
{% set texts = [] %}
{%- for text_uuid, text_file in data["as:text"] %} 
   {# only generate an annotation if text and image where uploaded to the same key OR
   there is exactly a single Image #}
  {% if (text_file["dr:for"] == page["dr:for"] or data["as:image"]|length == 1) and text_file["dr:mimetype"] == "text\/plain" %}
    {% set texts = texts|merge([{'dr:uuid': text_file['dr:uuid'], 'name': text_file['name']}]) %}
  {% endif %}
{%- endfor %}
{% if texts|length > 0 or data["ap:annotationCollection"][cantaloupeid ~ '/info.json'] is defined %}
       , 
       "annotations": [
  {%- if texts|length > 0 -%}
           {
           "id": "{{ nodeurl }}/iiif/transcript/s{{ itemCount }}", 
           "type": "AnnotationPage", 
           "items": [
    {%- for text_file in texts %} 
            {
              "id": "{{ nodeurl }}/iiif/text/p{{ itemCount }}/{{ text_file['dr:uuid'] }}", 
              "type": "Annotation",
              "motivation": "supplementing",
              "body": {
                "id": "{{ Webserverurl }}do/{{ node.uuid.value }}/file/{{ text_file['dr:uuid'] }}/download/{{  text_file["name"] }}",
                "type": "Text",
                "format": "text/plain",
                "label": {
                  "en": [
                    "{{ text_file.name  }}"
                  ]
                },
                "language": "en"
              },
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}#xywh=0,0,{{width}},{{height}}" 
            }{{ not loop.last ? ',' : '' }}       
    {% endfor -%} 
  {%- endif -%}
  {% if data["ap:annotationCollection"][cantaloupeid ~ '/info.json'] is defined %}
    {%- if texts|length > 0 -%},{% endif %}
            {
              "id": "{{ nodeurl }}/iiif/comments/p{{ itemCount }}",
              "type": "AnnotationPage", 
              "items": [
       {% for annotation in data["ap:annotationCollection"][cantaloupeid ~ '/info.json'] %}
              {
              "id": "{{ nodeurl }}/iiif/comments/p{{ itemCount }}/{{ annotation.id }}",
               {# @TODO a single annotation might have multiple Bodies and multiple motivations #} 
              "motivation": "tagging",
              {% set temp_annotation_body = [] %}
              {# We need to enrich here, missing language and format #} 
              {% if annotation.body is iterable %}
                {% for body in annotation.body %}
                  {% set annotation_body = body|merge({'language': len, 'format': 'text/plain'}) %}
                  {% set temp_annotation_body = temp_annotation_body|merge([annotation_body]) %}
                {% endfor %}
              {% else %}
              {% endif %}
              "body": {{ temp_annotation_body|json_encode|raw }},
              "type": {{ annotation.type|json_encode(constant('JSON_FORCE_OBJECT'))|raw }} 
              {# check target type: If polygon we need the selector, if a square, we need the xywh #} 
              {% if annotation.target.selector.type == "FragmentSelector" %} 
              {# MIRADOR does not know how to hande "pixel:" in the fragment coordinates selector #} 
                {% set target = nodeurl|render ~ "/iiif/canvas/p" ~ itemCount ~ '#' ~ annotation.target.selector.value|replace({"pixel:" : ""}) %} 
              ,"target": {{ target|json_encode|raw }}
              {% else %} 
              {# Parse our polygon point values into path for Mirador #} 
                {% if 'points="' in annotation.target.selector.value %} 
                  {% set mirador_path = annotation.target.selector.value | preg_replace('/.+?points="/','') | preg_replace('/".*/','') %} 
                  {% set mirador_path = "M" ~ (mirador_path|split(" ")|join("L")) ~ " z" %} 
                  {%- set target = {
                     "source" : nodeurl|render ~ "/iiif/canvas/p" ~ itemCount, 
                     "selector": { 
                       "type":  annotation.target.selector.type, 
                       "value": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="' ~ mirador_path ~ '"/></g></svg>' 
                     }, 
                     "type": "SpecificResource" 
               	   } 
               	   -%}
                   ,"target": {{ target|json_encode|raw }} 
              {% endif %}
            {% endif %}
       }{{ not loop.last ? ',' : '' }}
       {% endfor -%}
       {% endif %}
       ]
    }]
      {% endif %} 
{#- Ends Pure text and Direct Image annotation -#}  
    }{{ not loop.last ? ',' : '' }} 
{% endfor %} 
{#- Video/Audio Manifest -#} 
{%- if (attribute(data, 'as:video')|length > 0) -%} 
  {%- if itemCount > 0 -%} 
, 
  {%- endif -%}
{#- Count Video upfront -#} 
{%- set video_count = attribute(data, 'as:video')|length -%} 
{% for video in attribute(data, 'as:video') %} 
  {%- set itemCount = itemCount + 1 -%} 
  {%- if video["flv:exif"] -%} 
    {%- set width = video["flv:mediainfo"].videos[0].width.absoluteValue|default(720) -%} 
  {% else  %} 
    {%- set width = 720 -%} 
  {% endif %} 
  {%- if video["flv:mediainfo"] -%} 
    {%- set height = video["flv:mediainfo"].videos[0].height.absoluteValue -%} 
  {%- else  -%} 
    {%- set height = 480 -%} 
  {%- endif -%} 
  {%- set thumb_width = width < max_thumb_width ? width: max_thumb_width -%} 
  {%- set thumb_height = (thumb_width/width * height)|round() -%}
  {%- set cantaloupeid  = IIIFserverurl ~ video['url']|replace({'s3://':''})|replace({'private://':''})|url_encode -%}
  {%- set thumbnail -%}
  "thumbnail": [ 
          { 
            "id": "{{ cantaloupeid }};1/full/{{thumb_width}},/0/default.jpg", 
            "type": "Image",
            "format": "image/jpeg", 
            "width": {{ thumb_width }}, 
            "height": {{ thumb_height }} 
          } 
        ], 
  {%- endset -%} 
    {
    "id": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}", 
    "type": "Canvas",
    "label": { "{{ len }}": [ 
      {%- if (video_count > 1) -%} 
      {{ (loop.index ~ ' of ' ~ video_count ~ ' videos: ' ~ data.label)|json_encode|raw }}
      {%- else -%} 
      {{ ("Video:" ~ data.label)|json_encode|raw }} 
      {%- endif -%} 
      ]},
    "width": {{ width }},
    "height": {{ height }},
    {{ thumbnail }} 
    "duration": {{ video["flv:mediainfo"].videos[0].duration.milliseconds|default(1000) }}, 
    "items": [
        {
          "id": "{{ nodeurl }}/iiif/page/p{{ itemCount }}", 
          "type": "AnnotationPage", 
          "items": [ 
            { 
              "id": "{{ nodeurl }}/iiif/annotation/p{{ itemCount }}", 
              "type": "Annotation", 
              "motivation": "painting", 
              {{ thumbnail }} 
              "body": { 
                "id": "{{ Webserverurl }}do/{{ node.id }}/iiif/{{ video['dr:uuid'] }}/full/full/0/{{  video.name }}",
                "type": "Video", 
                "format": "{{ video["flv:mediainfo"].general.internet_media_type }}",
                "duration": {{ video["flv:mediainfo"].videos[0].duration.milliseconds|default(1000) }},
                "height": {{ height }},
                "width": {{ width }}
              }, 
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}"
            }
          ]
        }
      ]
       {#- starts subtitle annotation -#}
          {% set vtts = [] %}
          {%- for text_uuid, subtitle_track in data["as:text"] %} 
              {% if subtitle_track["dr:for"] == video["dr:for"] and subtitle_track["dr:mimetype"] == "text\/vtt" %}
              {% set vtts = vtts|merge([{'dr:uuid': subtitle_track['dr:uuid'], 'name': subtitle_track['name']}]) %}
              {% endif %}
          {%- endfor %}
       {% if vtts|length > 0 %}
       , 
       "annotations": [{ 
           "id": "{{ nodeurl }}/iiif/subtitles/s{{ itemCount }}", 
           "type": "AnnotationPage", 
           "items": [ 
{%- for subtitle_track in vtts %} 
            {
              "id": "{{ nodeurl }}/iiif/subtitles/p{{ itemCount }}/{{ subtitle_track['dr:uuid'] }}", 
              "type": "Annotation",
              "motivation": "supplementing",
              "body": {
                "id": "{{ Webserverurl }}do/{{ node.uuid.value }}/file/{{ subtitle_track['dr:uuid'] }}/download/{{  subtitle_track["name"] }}",
                "type": "Text",
                "format": "text/vtt",
                "label": {
                  "en": [
                    "{{ subtitle_track.name  }}"
                  ]
                },
                "language": "en"
              },
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}" 
            }{{ not loop.last ? ',' : '' }}       
       {% endfor -%} 
       ]
    }]
      {% endif %} 
{#- ends subtitle annotation -#}    
    }{{ not loop.last ? ',' : '' }} 
  {% endfor %} 
{% endif %} 
{# Audio Manifest #} 
{%- if (attribute(data, 'as:audio')|length > 0) -%} 
{%- if itemCount > 0 -%} 
  , 
  {%- endif -%}
{#- Count Audio upfront -#}
{%- set audio_count = attribute(data, 'as:audio')|length -%} 
{% for audio in attribute(data, 'as:audio') %}
{%- set itemCount = itemCount + 1 -%}
    {
    "id": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}", 
    "type": "Canvas", 
    "label": { "{{ len }}": [ 
      {%- if (audio_count > 1) -%} 
        {{ (loop.index ~ ' of ' ~ audio_count ~ ' audios: ' ~ data.label)|json_encode|raw }} 
      {% else %} 
        {{ ("Audio:" ~ data.label )|json_encode|raw }} 
      {%- endif -%} 
      ]}, 
    "duration": {{ audio["flv:mediainfo"].audios[0].duration.milliseconds|default(1000) }}, 
    "items": [
        {
          "id": "{{ nodeurl }}/iiif/page/p{{ itemCount }}", 
          "type": "AnnotationPage", 
          "items": [ 
            { 
              "id": "{{ nodeurl }}/iiif/annotation/p{{ itemCount }}", 
              "type": "Annotation", 
              "motivation": "painting", 
              "body": { 
                "id": "{{ Webserverurl }}do/{{ node.id }}/iiif/{{ audio['dr:uuid'] }}/full/full/0/{{  audio.name }}", 
                "type": "Sound", 
                "format": "{{ audio["flv:mediainfo"].general.internet_media_type }}", 
                "duration": {{ audio["flv:mediainfo"].audios[0].duration.milliseconds|default(1000) }} 
              }, 
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}" 
            }
          ]
        }
      ]
          {#- starts subtitle annotation for audio -#}
          {% set vtts = [] %}
          {%- for text_uuid, subtitle_track in data["as:text"] %} 
              {% if subtitle_track["dr:for"] == audio["dr:for"] and subtitle_track["dr:mimetype"] == "text\/vtt" %}
              {% set vtts = vtts|merge([{'dr:uuid': subtitle_track['dr:uuid'], 'name': subtitle_track['name']}]) %}
              {% endif %}
          {%- endfor %}
       {% if vtts|length > 0 %}
       , 
       "annotations": [{ 
           "id": "{{ nodeurl }}/iiif/audiosubtitles/s{{ itemCount }}", 
           "type": "AnnotationPage", 
           "items": [ 
{%- for subtitle_track in vtts %} 
            {
              "id": "{{ nodeurl }}/iiif/audiosubtitles/p{{ itemCount }}/{{ subtitle_track['dr:uuid'] }}", 
              "type": "Annotation",
              "motivation": "supplementing",
              "body": {
                "id": "{{ Webserverurl }}do/{{ node.uuid.value }}/file/{{ subtitle_track['dr:uuid'] }}/download/{{  subtitle_track["name"] }}",
                "type": "Text",
                "format": "text/vtt",
                "label": {
                  "en": [
                    "{{ subtitle_track.name  }}"
                  ]
                },
                "language": "en"
              },
              "target": "{{ nodeurl }}/iiif/canvas/p{{ itemCount }}" 
            }{{ not loop.last ? ',' : '' }}       
       {% endfor -%} 
       ]
    }]
      {% endif %} 
{#- ends subtitle annotation -#}  
    }{{ not loop.last ? ',' : '' }} 
  {% endfor %}
{% endif %}
  ]
}