{#- 
Last updated December 5th, 2025. Adds Custom Media Controller and example inline 3D Viewer. Adds extra "title_tag" to html_output, defaults to h3
Previously updated August 29, 2025 - update the Administrative Information section with additional elements.
Previously updated 15/02/2024 to add |striptags to html_output macro 
Previously updated 31/10/2023 for 1.3.0 
- switched to Macro approach; added Nav-tabs for main description display and downloads menu. 
- MACROS: 
  - uses two macros originally created by Diego, 
  - uses two macros originally created by Allison for internal-search referenced elements 
- File downloads nav-tab 
-#} 
{#- ------ Macros Start ----- -#} 
{%- macro html_output(html_title, source_datum, list_wrapper = "p", markdown = false, title_tag = "h3") -%} 
  {# -- Macro note: if markdown is selected no wrapper will be used -#} 
  {%- if source_datum and source_datum|length > 0 -%} 
    {%- if html_title|length > 0 -%} 
<{{title_tag}}>{{html_title}}</{{title_tag}}> 
    {%- endif -%} 
	{%- if source_datum is iterable -%} 
      {%- for source_data in source_datum -%} 
        {%- if markdown -%} 
		  {{ source_data|markdown_2_html }} 
        {%- else -%} 
          <{{list_wrapper}}>{{ source_data|striptags }}</{{list_wrapper}}> 
        {%- endif -%} 
      {%- endfor -%} 
	{%- else -%} 
      {%- if markdown -%} 
          {{ source_datum|markdown_2_html }} 
      {%- else -%} 
		  <{{list_wrapper}}>{{ source_datum|striptags }}</{{list_wrapper}}> 
      {%- endif -%} 
    {%- endif -%} 
  {%- endif -%}
{%- endmacro html_output -%} 
{%- macro html_output_list(html_title, source_datum, markdown = false) -%} 
  {# -- Macro note: if markdown is selected no wrapper will be used -#} 
  {%- if source_datum and source_datum|length > 0 -%} 
    {%- if html_title|length > 0 -%} 
<h3>{{html_title}}</h3> 
    {%- endif -%} 
  <ul> 
	{%- if source_datum is iterable -%} 
	  {%- for source_data in source_datum -%} 
        {%- if markdown -%} 
	      <li>{{ source_data|markdown_2_html }}</li> 
        {%- else -%} 
          <li>{{ source_data }}</li> 
        {%- endif -%} 
	  {%- endfor -%} 
	{%- else -%} 
      {%- if markdown -%} 
        <li>{{ source_datum|markdown_2_html }}</li> 
      {%- else -%} 
		<li>{{ source_datum }}</li> 
      {%- endif -%} 
    {%- endif -%} 
  </ul> 
  {%- endif -%} 
{%- endmacro html_output_list -%} 
{# Allison: internal search macros based off Diego's list output macro above; 
added flag and formatting for internal search-based on value set within corresponding facet config; 
one macro for simple non-LoD elements; second for LoD elements with URI and label values #} 
{%- macro html_output_search(html_title, source_datum, search_facet) -%} 
  {%- if source_datum and source_datum|length > 0 -%} 
    {%- if html_title|length > 0 -%} 
<h3>{{html_title}}</h3> 
    {%- endif -%} 
  <ul> 
	{%- if source_datum is iterable -%} 
	  {%- for source_data in source_datum -%} 
	  <li><a href="/search?search_api_fulltext=&f%5B0%5D={{search_facet}}%3A{{ source_data|url_encode }}" target="_blank" >{{ source_data }}</a></li> 
	  {%- endfor -%} 
	  {%- else -%} 
	  <li><a href="/search?search_api_fulltext=&f%5B0%5D={{search_facet}}%3A{{ source_datum|url_encode }}" target="_blank" >{{ source_datum }}</a></li> 
	  {%- endif -%} 
  </ul> 
  {%- endif -%} 
{%- endmacro html_output_search -%} 
{# Use for LoD elements with URI and label values#} 
{%- macro html_output_search_lod(html_title, source_datum, search_facet) -%} 
  {%- if source_datum and source_datum|length > 0 -%} 
    {%- if html_title|length > 0 -%} 
<h3>{{html_title}}</h3> 
    {%- endif -%} 
  <ul> 
	  {%- for source_data in source_datum -%} 
	  <li><a href="/search?search_api_fulltext=&f%5B0%5D={{search_facet}}%3A{{ source_data.label|url_encode }}" target="_blank" >{{ source_data.label }}</a></li> 
	  {%- endfor -%} 
  </ul> 
  {%- endif -%} 
{%- endmacro html_output_search_lod -%} 
{#- --- End Macros ---- -#} 
{# -- Embargo option -- #} 
{% set file_download_restricted = false %} 
{% if data_embargo.embargoed == true %} 
   {# also restrict if embargoed #} 
   {% set file_download_restricted = true %} 
{% endif %} 
{# -- File Downloads Section -- #} 
  {% set download_label = "Download" %} 
  {% set download_metadata_label = "Metadata" %} 
  {% set download_file_label = "Files" %} 
  {% set download_file_video = "Videos" %} 
  {% set download_file_audio = "Audios" %} 
  {% set download_file_img = "Images" %} 
  {% set download_file_doc = "Documents" %} 
  {% set download_file_text = "Texts and transcripts" %} 
{# Downloads as a set variable #} 
  {% set downloadlist %} 
{# May 2023, new downloads #} 
    <li><a download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/mods/mods.xml">MODS 3.7</a></li> 
    <li><a download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/dc/dc.xml">Dublin Core</a></li> 
    <li><a download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/geojson/geojson.json">GeoJSON</a></li> 
  {% if not file_download_restricted %} 
    {% if data.type not in ['Collection','CreativeWorkSeries'] %} 
    <li><a rel="nofollow" download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/iiifmanifest/default.jsonld">IIIF Presentation Manifest 3.0</a></li> 
    <li><a rel="nofollow" download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/iiifmanifestv2/default.jsonld">IIIF Presentation Manifest 2.1</a></li> 
    {% elseif data.type == 'CreativeWorkSeries' %} 
    <li><a rel="nofollow" download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/iiifmanifest3cws/default.jsonld">IIIF Presentation Manifest 3.0</a></li> 
    {% else %} 
    <li><a rel="nofollow" download class="dropdown-item" href="/do/{{ node.uuid.value }}/metadata/iiifmanifest3collection/default.jsonld">IIIF Presentation Manifest 3.0</a></li> 
    {% endif %} 
    {% if attribute(data, 'as:document')|length < 10 and attribute(data, 'as:document')|length > 0 %} 
	   <li><hr class="dropdown-divider"></li> 
       <li><h2 class="dropdown-header">{{ download_file_doc }}</h2></li> 
      {% for singledocument in attribute(data, 'as:document') %} 
		<li><a download rel="nofollow" class="dropdown-item" href="/do/{{ node.uuid.value }}/file/{{ singledocument['dr:uuid'] }}/download/{{ singledocument.name }}" target="_blank">{{ singledocument.name }}</a></li> 
	  {% endfor %} 
    {% endif %} 
    {% if attribute(data, 'as:text')|length < 10 and attribute(data, 'as:text')|length > 0 %} 
	   <li><hr class="dropdown-divider"></li> 
       <li><h2 class="dropdown-header">{{ download_file_text }}</h2></li> 
      {% for singletext in attribute(data, 'as:text') %} 
		<li><a download rel="nofollow" class="dropdown-item" href="/do/{{ node.uuid.value }}/file/{{ singletext['dr:uuid'] }}/download/{{ singletext.name }}" target="_blank">{{ singletext.name }}</a></li> 
	  {% endfor %} 
    {% endif %} 
    {% if attribute(data, 'as:image')|length <= 10 and attribute(data, 'as:image')|length > 0 %} 
	   <li><hr class="dropdown-divider"></li> 
       <li><h2 class="dropdown-header">{{ download_file_img }}</h2></li> 
      {% for singleimage in attribute(data, 'as:image') %} 
		<li><a download rel="nofollow" class="dropdown-item" href="/do/{{ node.uuid.value }}/file/{{ singleimage['dr:uuid'] }}/download/{{  singleimage.name }}" target="_blank">{{ singleimage.name }}</a></li> 
	  {% endfor %} 
    {% endif %} 
    {% if attribute(data, 'as:video')|length <= 10 and attribute(data, 'as:video')|length > 0 %} 
	   <li><hr class="dropdown-divider"></li> 
       <li><h2 class="dropdown-header">{{ download_file_video }}</h2></li> 
      {% for singlevideo in attribute(data, 'as:video') %} 
		<li><a download rel="nofollow" class="dropdown-item" href="/do/{{ node.uuid.value }}/file/{{ singlevideo['dr:uuid'] }}/download/{{ singlevideo.name }}" target="_blank">{{ singlevideo.name }}</a></li> 
	  {% endfor %} 
    {% endif %} 
    {% if attribute(data, 'as:audio')|length <= 10 and attribute(data, 'as:audio')|length > 0 %} 
	   <li><hr class="dropdown-divider"></li> 
       <li><h2 class="dropdown-header">{{ download_file_audio }}</h2></li> 
      {% for singleaudio in attribute(data, 'as:audio') %} 
		<li><a download rel="nofollow" class="dropdown-item" href="/do/{{ node.uuid.value }}/file/{{ singleaudio['dr:uuid'] }}/download/{{ singleaudio.name }}" target="_blank">{{ singleaudio.name }}</a></li> 
	  {% endfor %} 
    {% endif %} 
  {% endif %} 
  {% endset %} 
{# -- Main Object Description Display Template : Primary Nav-tab -- #} 
<nav> 
  <ul class="nav nav-tabs" id="nav-tab" role="tablist"> 
  <li class="nav-item"> 
    <button class="nav-link active" id="nav-en-tab" data-bs-toggle="tab" data-bs-target="#nav-en" type="button" role="tab" aria-controls="nav-en" aria-selected="false">Description</button> 
  </li> 

{# evaluate download restriction here #} 
  <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ download_label }}</a> 
    <ul class="dropdown-menu"> 
      <li><h2 class="dropdown-header">{{ download_metadata_label }}</h2></li> 
      <li><hr class="dropdown-divider"></li> 
      {{ downloadlist }} 
    </ul> 
  </li> 
{# End evaluate download restriction here #} 
</ul> 
</nav> 
<div class="tab-pane fade show active" id="nav-en" role="tabpanel" aria-labelledby="nav-en-tab"> 
{# Collection, Part of membership section #} 
{% if attribute(data, 'ismemberof') %} 
<h3>Part of Collection</h3> 
{% if attribute(data, 'ismemberof') is iterable %} 
	{% for collection in attribute(data, 'ismemberof')%} 
		{% set parentnode = bamboo_load_entity('node', collection) %} 
        {% if parentnode %} 
		  {% set parentnodeurl = url('entity.node.canonical', {'node': collection}, {'absolute': true}) %} 
			<a href="{{ parentnodeurl }}">{{  parentnode.title.value }}</a> 
        {% endif %} 
	{% endfor %} 
	{% else %} 
		{% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %} 
        {% if parentnode %} 
		  {% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ismemberof')}, {'absolute': true}) %} 
			<a href="{{ parentnodeurl }}">{{  parentnode.title.value }}</a> 
        {% endif %} 
{% endif %} 
{% endif %} 
{% if attribute(data, 'ispartof') %} 
<h3>Part Of</h3> 
{% if attribute(data, 'ispartof') is iterable %} 
	{% for child in attribute(data, 'ispartof')%} 
		{% set parentnode = bamboo_load_entity('node', child) %} 
        {% if parentnode %} 
		  {% set parentnodeurl = url('entity.node.canonical', {'node': child}, {'absolute': true}) %} 
			<a href="{{ parentnodeurl }}">{{  parentnode.title.value }}</a> 
        {% endif %} 
	{% endfor %} 
	{% else %} 
		{% set parentnode = bamboo_load_entity('node', attribute(data, 'ispartof')) %} 
        {% if parentnode %} 
		  {% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ispartof')}, {'absolute': true}) %} 
			<a href="{{ parentnodeurl }}">{{  parentnode.title.value }}</a> 
        {% endif %} 
{% endif %} 
{% endif %} 
{# End of Collection, Part of membership section #} 
{# -- Start Custom Viewers and Controllers 1.6.0 -#}
{#- Example of inline 3D viewer for a format we don't support yet via a specialized Field formatter -#}
{%- if data.type == "3DModel" -%}
   {% for model in data['as:document'] %}
     {% if model["flv:pronom"]["mimetype"] == "model/gltf-binary" %}
     <!-- Import the component -->
       <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
      <!-- Use it like any other HTML element -->
      <model-viewer alt="{{data.label}}" src="/do/{{node.uuid.value}}/file/{{ model["dr:uuid"]}}/download/{{model["name"]}}" ar shadow-intensity="1" camera-controls touch-action="pan-y" class="w-100" style="height:720px"></model-viewer>
     {% endif %} 
   {% endfor %}
{%- endif -%}
{# Blueprint External Custom Controller for Audio/Video. Requires Audio or Video Formatter to be setup to use it. Hidden by default #}
{%- if data['as:audio'] is not empty or data['as:video'] is not empty  -%}
<div class="sbf_media_control container mt-5 mb-2 mh-100" hidden>{# Required: `class="sbf_media_control"` matches a Video/Audio formatter setup for external controller with value .sbf_media_controller under "The Dom Query selector to be used to find the external HTML Control container blueprint in the Web Page" #}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mediaTitle">{{ data.label }}</h5> {# Up to the user to set this as the node label/exclude. Not used by our Library #}
            <p class="card-text mediaFileName">Audio - Helen</p>{# Optional: class="mediaFileName" will get its Inner Text replaced with the aria-label *from exif or filename* provided by the audio/video formatter  #}
            <div>
              <div class="mediaContainer d-flex justify-content-center m-auto" style="width:auto;max-height:70vh;overflow:hidden"></div>{# Optional: class="mediaContainer" will used "MOVE" the original HTML5 element while playing. For Video it will basically allow the Video to be Inside the Controller #}
            </div>
            <div class="wavesurferContainer w-100" style="width:720px;overflow:visible"></div>{# Optional: class="wavesurferContainer" will used by wavesurfer if enabled in the audio/video formatter. If not present wavesurfer will attach itself to the original HTML5 element #}   
            <div class="progress mb-3">
                <progress class="progress-bar progressSlider w-100 h-100" max="100" value="0" style="cursor:grab"></progress>
            </div>{# Optional: class="progress" and child element progressSlider will replace the timeline #}
            <div class="d-flex justify-content-between">
                <span class="currentTime">0:00</span>{# Optional:  class="currentTime" will be used for Current Play time #}
                <span class="durationTime">0:00</span>{# Optional:  class="durationTime" will be used total Play time #}
            </div>
            <div class="subtitleContainer mb-3" style="height:4rem"></div>{# Optional:  class="subtitleContainer" will be used to "render" Subtitle text on each track mark #}
            <div class="mt-3 text-center">
                <button class="prevBtn btn btn-secondary"><i class="fas fa-step-backward"></i></button>{# Optional:  class="prevBtn" will be only shown if there are multiple media for previous one #}
                <button class="playBtn btn btn-primary"><i class="fas fa-play"></i></button>{# Required:  class="playBtn" will play #}
                <button class="stopBtn btn btn-primary"><i class="fas fa-stop"></i></button>{# Optional:  class="stopBtn" will stop and reset play to time 0 #}
                <button class="pauseBtn btn btn-tertiary"><i class="fas fa-pause"></i></button>{# Required:  class="pauseBtn" will pause #}
                <button class="nextBtn btn btn-secondary"><i class="fas fa-step-forward"></i></button>{# Optional:  class="nextBtn" will be only shown if there are multiple media for next one #}
                <button class="muteBtn btn btn-secondary"><i class="fas fa-volume-up"></i></button>{# Required:  class="muteBtn" will mute sound #}
                <button class="unmuteBtn btn btn-secondary"><i class="fas fa-volume-mute"></i></button>{# Required:  class="unmuteBtn" will unmute sound #}
                <button class="ccBtn btn btn-secondary"><i class="fas fa-closed-captioning"></i></button>{# Optional:  class="ccBtn" will disable/enable CC#}
                <button class="fullscreenBtn btn btn-tertiary"><i class="fas fa-expand"></i></button>{# Optional:  class="fullscreenBtn" will enter the complete Controller into fullscreen. Up to the user to style that correctly CC #}
            </div>
            <div class="w-25">
            {#Optional: class="volumeSlider" will control volumne. One could also use a <progress> element instead too, <progress> has min=0 as only choice #}
               <meter id ="volume_{{node.id}}" class="progress-bar volumeSlider cursor-grab text-primary bg-secondary" style="writing-mode: vertical-lr; direction: rtl" min="0" max="100" value="50"></meter>
               {# EXAMPLE of inverse volumen <meter id ="volume_{{node.id}}" class="progress-bar volumeSlider cursor-grab text-primary bg-secondary" style="writing-mode: vertical-lr; direction: ltr" min="0" max="100" value="50"></meter> #}
               <label for="volume_{{node.id}}">Volume</label>
             </div>
             <ul class="list-unstyled mb-3">
               <li class="btn btn-tertiary subtitleTrack"></li>{# Optional. class="subtitleTrack" Will cloned as many times as needed *based on number of subtitles" and will be clickable to select which one is shown. Can be also used to disable the current one. #}
             </ul>
        </div>
    </div>
</div>
{%- endif -%}
{# -- END Custom Viewers and Controllers 1.6.0 -#}
{{ _self.html_output("Title", data.label) }} 
{{ _self.html_output("URL of Original Website", data.website_url) }} 
{% if data.creator|length > 0 or data.creator_lod|length > 0 %} 
<h3>Creators/Contributors</h3> 
<div class="field-content"> 
<ul> 
	{% if data.creator %} 
	{% if data.creator is iterable %} 
		{% for creator in data.creator %} 
  	<li class="nav-item" style="padding:3px;margin-top:4px;"><a href="/search?search_api_fulltext=&sort_by=changed&sort_order=DESC&items_per_page=25&f%5B0%5D=descriptive_metadata_agent_labels%3A{{ creator|url_encode }}" target="_blank" >{{ creator }}</a> 
		{% endfor %} 
	{% else %} 
  	<li class="nav-item" style="padding:3px;margin-top:4px;"><a href="/search?search_api_fulltext=&sort_by=changed&sort_order=DESC&items_per_page=25&f%5B0%5D=descriptive_metadata_agent_labels%3A{{ creator|url_encode }}" target="_blank" >{{ creator }}</a> 
    {% endif %} 
	{% endif %} 
	{% for creator_lod in data.creator_lod %} 
  	<li class="nav-item" style="padding:3px;margin-top:4px;">{{ creator_lod.role_label }}: <a href="/search?search_api_fulltext=&sort_by=changed&sort_order=DESC&items_per_page=25&f%5B0%5D=descriptive_metadata_agent_labels%3A{{ creator_lod.name_label|url_encode }}" target="_blank" >{{ creator_lod.name_label }}</a> 
    {% if creator_lod.name_uri|length > 2 %} 
    	<span class="badge badge-primary badge-pill"><a class="nav-link active" href="{{ creator_lod.name_uri }}" target="_blank" ><i class="fas fa-link fa-1x"></i></a></span> 
        {% endif %} 
    </li> 
	{% endfor %} 
	</ul> 
</div> 
{% endif %} 
{{ _self.html_output('Description', data.description, '', true) }} 
{% set all_date_created = [] %} 
{% if data.date_created_edtf.date_free|length > 0  %} 
  {% set all_date_created = all_date_created|merge([data.date_created_edtf.date_free|trim|edtf_2_human_date('en')]) %} 
{% endif %} 
{% if ((data.date_created is defined and not empty) and (data.date_created is not iterable and data.date_created|trim|length > 0)) %} 
  {% set all_date_created = all_date_created|merge([data.date_created]) %} 
{% endif %} 
{% if ((data.date_created_free is defined and not empty) and (data.date_created_free is not iterable and data.date_created_free|trim|length > 0))  %} 
    {% set all_date_created = all_date_created|merge([data.date_created_free]) %} 
{% endif %} 
{% if all_date_created|length > 0 %} 
<h3>Date Created</h3> 
  {% for date_created in all_date_created  %} 
<p>{{ date_created|edtf_2_human_date }}</p> 
  {% endfor %}
{% endif %} 
{# End of Date Created Advanced Example #} 
{# Date Issued mapping #} 
{% set all_date_issued = [] %} 
{% if data.date_issued_edtf.date_free|length > 0  %} 
  {% set all_date_issued = all_date_issued|merge([data.date_issued_edtf.date_free|trim|edtf_2_human_date('en')]) %} 
{% endif %} 
{% if ((data.date_issued is defined and not empty) and (data.date_issued is not iterable and data.date_issued|trim|length > 0)) %} 
  {% set all_date_issued = all_date_issued|merge([data.date_issued]) %} 
{% endif %} 
{% if ((data.date_issued_free is defined and not empty) and (data.date_issued_free is not iterable and data.date_issued_free|trim|length > 0))  %} 
     {% set all_date_issued = all_date_issued|merge([data.date_issued_free]) %} 
{% endif %} 
{% if all_date_issued|length > 0 %} 
<h3>Date Issued</h3> 
  {% for date_issued in all_date_issued  %} 
<p>{{ date_issued }}</p> 
  {% endfor %} 
{% endif %} 
{{ _self.html_output('Type', data.type, 'p') }} 
{{ _self.html_output('Duration', data.duration, 'p') }} 
{{ _self.html_output_list('Publisher', data.publisher) }} 
{{ _self.html_output('Rights', data.rights, '', true) }} 
{{ _self.html_output('Owning institution', data.nowner, 'p') }} 
{{ _self.html_output('Language', data.language, 'p') }} 
{{ _self.html_output('Note', data.note, 'p') }} 
{{ _self.html_output('Physical Description Extent', data.physical_description_extent, 'p') }} 
{{ _self.html_output('Related Item', data.related_item_host_title_info_title, 'p') }} 
{{ _self.html_output_search("Local Subjects", data.subjects_local, "descriptive_metadata_subjects") }} 
{{ _self.html_output_search("Local Personal Names", data.subjects_local_personal_names, "descriptive_metadata_subjects") }} 
{# Still part of nav-tab for Additional Information #} 
{% if logged_in %} 
{# Optional 'user_roles' check - first remove or comment out the '{% if logged_in %}' above, then remove the enclosing comments in the line below to use #}
{# {% if logged_in and "administrator" in user_roles %} #}
<div class="card">
<div class="card-header">
<h4>Administrative Information</h4> 
</div>
<div class="card-body">
<p><i>The information shown after this point is only being display for Logged In Users.</i></p>
{% if node %}
<h6>Additional Information about this Digital Object:</h6>
{{ _self.html_output('Drupal Node ID:', node.id, 'span', true, "h5") }}  
{{ _self.html_output('Archipelago UUID:',node.uuid.value,'span', true, "h5") }}  
{{ _self.html_output('Local Identifier:', data.local_identifier, 'span', true, "h5") }} 
{% endif %} 
</div>
</div>
{% endif %} 

</div>{# Closes Main Content Nav-tab #}